.proposContainer {
  max-width: 1240px;
  margin: auto;
  margin-bottom: 40px;
}

.proposDropdown {
  margin-top: 20px;
}

.proposCover {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
