.proposContainer {
  max-width: 1240px;
  margin: auto;
  margin-bottom: 40px;
}

.proposDropdownContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
}

.proposCover {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
