.ratingStar {
  padding-left: 10px;
  & > img {
    height: 24px;

    @media (max-width: 425px) {
      height: 13px;
    }
  }

  @media (max-width: 425px) {
    padding-left: 8px;
  }
}

.ratingContainer {
  display: flex;
}
