.accueilCoverContainer {
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueilCoverImage {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(50%);
}

.accueilCoverText {
  position: absolute;
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.accueilCardContainer {
  width: 90%;
  margin: 40px auto;
  background-color: #f6f6f6;
  border-radius: 25px;
}

.accueilCardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 30px;
}
