.ficheContainer {
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.ficheCover {
  height: 415px;
  width: 100%;
  object-fit: cover;
}

.ficheContent {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.ficheContentTitle {
  display: flex;
  flex-direction: column;
}

.ficheTitle {
  font-size: 36px;
  color: #ff6060;
}

.ficheLocation {
  font-size: 18px;
  color: black;
}

.ficheHostName {
  font-size: 18px;
  color: #ff6060;
}

.ficheHostPicture {
  height: 64px;
  width: 64px;
  border-radius: 100%;
}

.ficheRating {
  font-size: 24px;
  color: #ff6060;
}

.ficheContainerDropdown {
  margin: 15px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}
