.cardWrapper {
  height: 340px;
  width: 340px;
  text-decoration: none;
}

.cardImage {
  height: 340px;
  width: 340px;
  align-self: center;
}

.cardLabel {
  position: relative;
  top: -50px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.cardLink {
  text-decoration: none;
}
