.collapseContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.collapseButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #ff6060;
  border-radius: 5px;
  & > img {
    height: 14px;
    width: 24px;
    padding-right: 25px;
    padding-left: 25px;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }
  &.rotate > img {
    transform: rotate(-180deg);
  }
}

.collapseButtonText {
  padding-left: 15px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.collapseContentContainer {
  overflow: hidden;
  width: 100%;
  & > .collapseContent {
    background-color: #f6f6f6;
    padding: 20px 15px;
    box-sizing: border-box;
    margin-top: -100%;
    transition: all 0.5s ease;
  }
  &.slide > .collapseContent {
    margin-top: 0;
  }
}

.collapseContentText {
  font-size: 20px;
}
