.headerContainer {
  max-width: 1240px;
  margin: auto;
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLinkContainer {
  display: flex;
  gap: 40px;
}

.headerLink {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
}

.selectedLink {
  text-decoration: underline;
  color: #000000;
  font-size: 24px;
}
