.footerContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  height: 209px;

  @media (max-width: 425px) {
    gap: 10px;
    justify-content: center;
  }
}

.footerLabel {
  color: white;
  font-size: 24px;

  @media (max-width: 425px) {
    font-size: 12px;
  }
}

.footerImage {
  width: 122px;
  height: 40px;
}
