.footerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  margin: 0;
  height: 209px;
}

.footerLabel {
  color: white;
  font-size: 24px;
}

.footerImage {
  width: 122px;
  height: 40px;
}
