.houseContainer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.houseContent {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.houseContentTitle {
  display: flex;
  flex-direction: column;
}

.houseTitle {
  font-size: 36px;
  color: #ff6060;
}

.houseLocation {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.houseHostContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.houseHostName {
  font-size: 18px;
  color: #ff6060;
}

.houseHostPicture {
  height: 64px;
  width: 64px;
  border-radius: 100%;
}

.houseRating {
  font-size: 24px;
  color: #ff6060;
}

.houseContainerDropdown {
  margin: 15px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}
